In [2]:
import numpy as np
from random import random as random
from pandas import DataFrame
from pandas import read_csv
from warnings import filterwarnings as message
from matplotlib import pyplot 
from sklearn.model_selection import train_test_split
message('ignore')

In [6]:
df=read_csv('data/learning_data.csv').drop('Unnamed: 0', axis=1)

In [4]:
df.head()

,fun,flirt,hand_slide,original,not_define,speak,local_person,friend,Gender,Old,final_fantasy,bank_and_money,love,not_hurtless,your_score_to_all,y
0,0.714797,0.625713,1.000000,0.876078,0.728455,0.813707,0.233453,0.165512,1.000000,1.000000,0.764843,0.784136,-0.034695,1.351770,2.340205,1.0
1,0.763887,0.605807,1.000000,0.909084,0.743519,0.804786,0.110023,0.127083,0.996589,1.000000,0.714870,0.780245,-0.049325,1.467836,2.261420,1.0
2,0.678631,0.585976,0.950375,0.902038,0.695037,0.786628,0.166953,0.155212,0.975764,1.000000,0.658225,0.852386,-0.046415,1.356389,2.245133,1.0
3,0.688647,0.553683,1.000000,0.880824,0.742591,0.810975,0.189787,0.203571,0.953001,0.988847,0.767679,0.771091,-0.046556,1.418781,2.320907,1.0
4,0.705329,0.635864,1.000000,0.907842,0.786390,0.834987,0.190706,0.079058,0.939290,1.000000,0.641128,0.792134,-0.059832,1.461375,2.303743,1.0

In [12]:
np.sum(df['y'].values==True)

300

In [13]:
np.sum(df['y'].values==True)-len(df['y'].values)

-101

In [14]:
x=df.drop(['y'], axis=1)
x.columns=range(len(x.columns))
y=DataFrame(df['y'])

In [15]:
x.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.714797,0.625713,1.000000,0.876078,0.728455,0.813707,0.233453,0.165512,1.000000,1.000000,0.764843,0.784136,-0.034695,1.351770,2.340205
1,0.763887,0.605807,1.000000,0.909084,0.743519,0.804786,0.110023,0.127083,0.996589,1.000000,0.714870,0.780245,-0.049325,1.467836,2.261420
2,0.678631,0.585976,0.950375,0.902038,0.695037,0.786628,0.166953,0.155212,0.975764,1.000000,0.658225,0.852386,-0.046415,1.356389,2.245133
3,0.688647,0.553683,1.000000,0.880824,0.742591,0.810975,0.189787,0.203571,0.953001,0.988847,0.767679,0.771091,-0.046556,1.418781,2.320907
4,0.705329,0.635864,1.000000,0.907842,0.786390,0.834987,0.190706,0.079058,0.939290,1.000000,0.641128,0.792134,-0.059832,1.461375,2.303743

In [16]:
x_train,x_test,y_train,y_test=train_test_split(x,   y,
                                               train_size=0.8, 
                                              random_state=True,
                                              shuffle=True)

In [17]:
x_train

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
343,0.349773,0.780987,0.794696,0.429796,0.721033,0.766531,0.738136,0.240163,0.539882,0.199876,0.242396,0.352031,0.814080,0.568054,0.101897
95,0.764560,0.601186,1.000000,0.883782,0.772504,0.756859,0.243239,0.180838,1.000000,1.000000,0.677711,0.752000,-0.038331,1.451238,2.300416
23,0.754713,0.630649,1.000000,0.886590,0.785242,0.827261,0.215969,0.131444,1.000000,0.966091,0.676615,0.774508,0.024210,1.357352,2.322806
300,0.840565,0.719571,0.790732,0.757581,0.935869,0.086053,0.919811,0.669171,0.294822,0.493815,0.279792,0.314234,0.340342,0.202689,0.432305
13,0.734786,0.629233,0.967398,0.889723,0.795668,0.809852,0.135758,0.195079,1.000000,1.000000,0.756242,0.771795,0.064156,1.450649,2.263528
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,0.798055,0.567105,0.974725,0.927322,0.794386,0.767236,0.176262,0.166163,1.000000,0.970046,0.763324,0.776174,0.002912,1.364125,2.334709
72,0.675075,0.543250,0.969643,0.832240,0.761457,0.776687,0.145849,0.130451,1.000000,1.000000,0.659137,0.803409,-0.056966,1.406273,2.310055
396,0.829689,0.602122,0.315215,0.123404,0.457437,0.591860,0.218003,0.444340,0.497094,0.842573,0.241855,0.426878,0.476577,0.275941,0.964093
235,0.766774,0.582075,1.000000,0.921721,0.773381,0.820639,0.139543,0.196714,1.000000,1.000000,0.685053,0.775087,0.000460,1.433564,2.293386
37,0.798090,0.648576,0.964176,0.829081,0.716214,0.751071,0.148276,0.103470,0.965753,0.977656,0.764070,0.832431,0.009623,1.415927,2.354702

In [18]:
x_train.shape

(320, 15)

In [19]:
y_train

            y
343  0.415341
95   1.000000
23   1.000000
300  0.458871
13   1.000000
..        ...
255  1.000000
72   1.000000
396  0.590619
235  1.000000
37   1.000000

[320 rows x 1 columns]

In [21]:
in_values = x_train
out_values =y_train

In [22]:
in_values

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
343,0.349773,0.780987,0.794696,0.429796,0.721033,0.766531,0.738136,0.240163,0.539882,0.199876,0.242396,0.352031,0.814080,0.568054,0.101897
95,0.764560,0.601186,1.000000,0.883782,0.772504,0.756859,0.243239,0.180838,1.000000,1.000000,0.677711,0.752000,-0.038331,1.451238,2.300416
23,0.754713,0.630649,1.000000,0.886590,0.785242,0.827261,0.215969,0.131444,1.000000,0.966091,0.676615,0.774508,0.024210,1.357352,2.322806
300,0.840565,0.719571,0.790732,0.757581,0.935869,0.086053,0.919811,0.669171,0.294822,0.493815,0.279792,0.314234,0.340342,0.202689,0.432305
13,0.734786,0.629233,0.967398,0.889723,0.795668,0.809852,0.135758,0.195079,1.000000,1.000000,0.756242,0.771795,0.064156,1.450649,2.263528
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,0.798055,0.567105,0.974725,0.927322,0.794386,0.767236,0.176262,0.166163,1.000000,0.970046,0.763324,0.776174,0.002912,1.364125,2.334709
72,0.675075,0.543250,0.969643,0.832240,0.761457,0.776687,0.145849,0.130451,1.000000,1.000000,0.659137,0.803409,-0.056966,1.406273,2.310055
396,0.829689,0.602122,0.315215,0.123404,0.457437,0.591860,0.218003,0.444340,0.497094,0.842573,0.241855,0.426878,0.476577,0.275941,0.964093
235,0.766774,0.582075,1.000000,0.921721,0.773381,0.820639,0.139543,0.196714,1.000000,1.000000,0.685053,0.775087,0.000460,1.433564,2.293386
37,0.798090,0.648576,0.964176,0.829081,0.716214,0.751071,0.148276,0.103470,0.965753,0.977656,0.764070,0.832431,0.009623,1.415927,2.354702

In [23]:
out_values

            y
343  0.415341
95   1.000000
23   1.000000
300  0.458871
13   1.000000
..        ...
255  1.000000
72   1.000000
396  0.590619
235  1.000000
37   1.000000

[320 rows x 1 columns]

In [24]:
in_values.shape

(320, 15)

In [25]:
out_values.shape

(320, 1)

# [4800,15]*[15,4]=[4800,4]
# [4800,4]*[4,5]=[4800,5]
# [4800,5]*[5,1]=[4800,1]

In [26]:

class NeuralNetwork:
    def __init__(self):
        
        self.ranger=0
        self.eps=0.01961
        #parameters
        
        self.inputSize = 15
        self.hiddens_one_Size = 4
        self.hiddens_two_Size = 7
        self.outputSize = 1
        
        #weights
        self._weights_ = np.random.randn(self.inputSize, self.hiddens_one_Size) 
        self.__weights__ = np.random.randn(self.hiddens_one_Size, self.hiddens_two_Size)
        self.___weights___ = np.random.randn(self.hiddens_two_Size, self.outputSize) 
        

    def step_all(self, in_values):

        
        
        self.hiddens_one = np.dot(in_values, self._weights_) 
        self.hiddens_one_sigmoid = self.sigmoid(self.hiddens_one) 
        
        self.hiddens_two = np.dot(self.hiddens_one_sigmoid, self.__weights__) 
        self.hiddens_two_sigmoid = self.sigmoid(self.hiddens_two) 
        
        
        self.output = np.dot(self.hiddens_two_sigmoid, self.___weights___) 
        self.output_sigmoid = self.sigmoid(self.output)
        return self.output_sigmoid
        
    def sigmoid(self, values, deriv=False):
        return values * (1 - values) if deriv else np.exp(values)/(np.exp(values)+1)
    
    
    def mse(self, true, false):
        return np.mean(np.square(true - false)).values
      
    def weights_update(self,select_weights, config=True, learning_rate=0.0001, printer=False):
        
        if select_weights=='third':
            gradient=self.hiddens_two_sigmoid.T.dot(self.output_delta)
            if config:
                if printer:
                    print('output to hiddens_2')
                else:
                    pass
                return self.___weights___ +gradient*learning_rate
            else:
                return self.___weights___

        elif select_weights=='second':
            gradient=self.hiddens_one_sigmoid.T.dot(self.hiddens_two_delta)
            if config:
                if printer:
                    print('hiddents_2 to hiddens_1')
                else:
                    pass
                return self.__weights__ +gradient*learning_rate
            else:
                return self.__weights__
            
        elif select_weights=='first':
            gradient=in_values.T.dot(self.hiddens_one_delta)
            if config:
                if printer:
                    print('hiddents_1 to input \n')
                else:
                    pass
                return self._weights_ +gradient*learning_rate
            else:
                return self._weights_
            
            
            
        else:
            return 'error in select values'

    
    def backward(self, in_values, out_values, output_sigmoid,
                _config_=True,__config__=True,___config___=True):

        self.errors = out_values-output_sigmoid
        self.output_delta = self.errors * self.sigmoid(output_sigmoid, deriv=True)
        
        self.___weights___=self.weights_update(select_weights='third',config=___config___)
        
        
        self.hiddens_two_error = self.output_delta.dot(self.___weights___.T) 
        self.hiddens_two_delta = self.hiddens_two_error * self.sigmoid(self.hiddens_two_sigmoid, deriv=True)

        self.__weights__=self.weights_update(select_weights='second',config=__config__)
        
        
        self.hiddens_one_error = self.hiddens_two_delta.dot(self.__weights__.T) 
        self.hiddens_one_delta = self.hiddens_one_error * self.sigmoid(self.hiddens_one_sigmoid, deriv=True)

        
        self._weights_=self.weights_update(select_weights='first',config=_config_)
        

        
        return self._weights_ , self.__weights__, self.___weights___
        
        
    def train(self, in_values, out_values,
             _config_=True,__config__=True,___config___=True):
        
        output_sigmoid = self.step_all(in_values)
        
        self.backward(in_values, out_values,
                      output_sigmoid,
                      _config_=_config_,
                      __config__=__config__,
                      ___config___=___config___)
        
        
    def ReLu(self,predict):
        if predict>0.8:
            return 1
        elif predict<0.2:
            return 0
        else:
            return predict

In [27]:
NN=NeuralNetwork()

In [28]:
DataFrame(NN._weights_)

           0         1         2         3
0  -0.433583 -0.893932 -0.450957 -0.455552
1   0.619435  0.409202  0.356182  2.693026
2  -0.861439 -0.215016 -1.978689 -1.694478
3   2.773394  0.695477 -0.596164 -1.352329
4  -0.127429  0.981833 -1.036709  1.345756
5   0.232310 -0.360813 -0.750961 -0.870886
6  -1.368848 -0.739208 -1.266796  1.141783
7  -0.978695 -0.264377 -0.972145  0.152892
8   0.310240  0.169436 -0.106366  2.222759
9   0.313815  0.639294  0.052339 -0.982739
10  1.848555 -1.181871 -0.960801  0.916769
11 -0.872841  0.770252  1.351446 -0.703595
12 -0.031464 -0.984508  0.028270  2.105069
13 -0.296829 -0.232475 -0.109665  0.209751
14  0.041402  1.983645 -1.490929  0.876768

In [29]:
DataFrame(NN.__weights__)

          0         1         2         3         4         5         6
0  0.346312 -1.909905  0.192887 -0.042348 -0.254694 -0.462874  0.647403
1  1.893246 -1.011461  0.608962  0.027779 -0.738339  0.621339 -2.373272
2  0.720331  0.881546 -1.979122 -1.294235  1.612028 -0.041580  0.750876
3 -2.023082  0.278940  1.776191 -0.196770 -1.238067 -0.706935 -0.149841

In [30]:
DataFrame(NN.___weights___)

          0
0  0.635983
1 -0.359171
2  0.428616
3 -1.233081
4  1.040572
5  1.458163
6 -0.312296

In [31]:
output_sigmoid=NN.step_all(in_values=in_values)
np.sum(output_sigmoid-out_values)/len(out_values)

y   -0.197617
dtype: float64

In [32]:
NN.mse(output_sigmoid, out_values)

array([0.07924792])

In [33]:
_weights_,__weights__,___weights___=NN.backward(in_values, out_values, output_sigmoid)

In [34]:
NN.errors

            y
343 -0.194829
95   0.307348
23   0.308554
300 -0.196032
13   0.309615
..        ...
255  0.307976
72   0.305222
396 -0.086581
235  0.305960
37   0.308800

[320 rows x 1 columns]

In [35]:
DataFrame(_weights_, dtype='float16')

           0         1         2         3
0  -0.433594 -0.894043 -0.450928 -0.455566
1   0.619629  0.409180  0.356201  2.693359
2  -0.861328 -0.214966 -1.978516 -1.694336
3   2.773438  0.695312 -0.596191 -1.352539
4  -0.127441  0.981934 -1.037109  1.345703
5   0.232300 -0.360840 -0.750977 -0.871094
6  -1.369141 -0.739258 -1.266602  1.141602
7  -0.978516 -0.264404 -0.972168  0.152832
8   0.310303  0.169434 -0.106384  2.222656
9   0.313721  0.639160  0.052338 -0.982910
10  1.848633 -1.181641 -0.960938  0.916504
11 -0.873047  0.770020  1.351562 -0.703613
12 -0.031464 -0.984375  0.028275  2.105469
13 -0.296875 -0.232422 -0.109680  0.209717
14  0.041382  1.983398 -1.491211  0.876465

In [36]:
DataFrame(__weights__, dtype='float16')

          0         1         2         3         4         5         6
0  0.346436 -1.910156  0.192871 -0.042725 -0.254639 -0.462402  0.647461
1  1.893555 -1.011719  0.608887  0.027328 -0.738281  0.622070 -2.373047
2  0.720215  0.881348 -1.979492 -1.293945  1.612305 -0.041595  0.750977
3 -2.023438  0.278809  1.776367 -0.197144 -1.238281 -0.706543 -0.149902

In [37]:
DataFrame(___weights___, dtype='float16')

          0
0  0.636719
1 -0.359131
2  0.429932
3 -1.232422
4  1.041016
5  1.458984
6 -0.312256

In [38]:
NN.train(in_values, out_values)

In [39]:
DataFrame(NN._weights_)

           0         1         2         3
0  -0.433599 -0.893955 -0.450961 -0.455628
1   0.619423  0.409175  0.356177  2.692966
2  -0.861460 -0.215035 -1.978692 -1.694582
3   2.773376  0.695455 -0.596169 -1.352420
4  -0.127445  0.981809 -1.036713  1.345678
5   0.232293 -0.360837 -0.750964 -0.870967
6  -1.368850 -0.739240 -1.266800  1.141771
7  -0.978696 -0.264409 -0.972149  0.152886
8   0.310218  0.169414 -0.106370  2.222653
9   0.313793  0.639278  0.052335 -0.982846
10  1.848541 -1.181896 -0.960806  0.916696
11 -0.872857  0.770227  1.351440 -0.703678
12 -0.031461 -0.984539  0.028264  2.105079
13 -0.296860 -0.232488 -0.109668  0.209596
14  0.041347  1.983652 -1.490930  0.876501

In [40]:
DataFrame(NN.__weights__)

          0         1         2         3         4         5         6
0  0.346712 -1.909962  0.192964 -0.043124 -0.254455 -0.461988  0.647324
1  1.893699 -1.011529  0.609051  0.026895 -0.738059  0.622345 -2.373367
2  0.720329  0.881547 -1.979122 -1.294230  1.612026 -0.041586  0.750877
3 -2.022689  0.278892  1.776263 -0.197524 -1.237842 -0.706072 -0.149914

In [41]:
DataFrame(NN.___weights___)

          0
0  0.637636
1 -0.359036
2  0.431071
3 -1.231881
4  1.040824
5  1.459209
6 -0.312049

In [42]:
def main():
    NN = NeuralNetwork()
    ranger=0
    while True:
        ranger+=1
        if (ranger % 1000== 0):
            errors=NN.mse(true=out_values, false= NN.step_all(in_values))
            print('iteration--->'+str(ranger), "Loss: " , errors)
            if errors<NN.eps:
                
                break
        NN.train(in_values, out_values,
                ___config___=True,
                __config__=True,
                _config_=True)
    return NN

In [43]:
if __name__=='__main__':
    NN=main()

iteration--->1000 Loss:  [0.04944431]
iteration--->2000 Loss:  [0.04836102]
iteration--->3000 Loss:  [0.04734665]
iteration--->4000 Loss:  [0.04630607]
iteration--->5000 Loss:  [0.04521046]
iteration--->6000 Loss:  [0.04404085]
iteration--->7000 Loss:  [0.04277664]
iteration--->8000 Loss:  [0.0413944]
iteration--->9000 Loss:  [0.03987002]
iteration--->10000 Loss:  [0.03818216]
iteration--->11000 Loss:  [0.03631637]
iteration--->12000 Loss:  [0.03426874]
iteration--->13000 Loss:  [0.03204863]
iteration--->14000 Loss:  [0.02968015]
iteration--->15000 Loss:  [0.02720246]
iteration--->16000 Loss:  [0.02466859]
iteration--->17000 Loss:  [0.02214194]
iteration--->18000 Loss:  [0.01969013]
iteration--->19000 Loss:  [0.01737682]

In [44]:
__name__

'__main__'

In [45]:
NN._weights_

           0         1         2         3
0   1.343903 -0.063743  0.517622  2.289655
1   0.760358  1.073217  0.353250  0.920061
2   0.047995 -1.153166  0.004842  0.975945
3   1.628336  1.764967  1.087711 -2.701476
4  -0.430190  1.321370  3.016862 -0.745711
5   0.862505  2.082992  1.610317 -0.489785
6   0.600167 -0.253927  0.455737 -1.242503
7   0.503491 -0.518447 -1.149021  0.412025
8  -1.534652  0.423818 -0.230391 -0.303344
9   0.047625  0.280310 -0.926236 -0.106598
10  0.477210 -1.470406 -1.886589  0.420616
11  0.154305  0.232008 -1.458796  0.148319
12  0.869765 -0.754206 -0.464964 -0.515820
13 -1.000909 -1.226658  0.197095 -1.079931
14 -1.714674 -1.733641  0.217402 -0.723306

In [46]:
DataFrame(NN.__weights__)

          0         1         2         3         4         5         6
0 -0.471976 -0.645552 -1.832792 -1.553282  0.414377 -1.493874  0.602263
1 -0.378453 -1.574741 -0.822702 -1.074191 -0.418789  0.816605  1.746500
2  0.369742 -0.113737 -0.212913  0.106951 -1.160760 -0.188968  1.823628
3  0.451329  1.368806 -0.296562 -0.725863 -0.383392 -1.370446 -0.036265

In [47]:
DataFrame(NN.___weights___)

          0
0  0.134983
1  0.811106
2  2.247328
3  1.183485
4 -0.564122
5  1.113512
6 -0.082205

In [48]:
y_predict=DataFrame(np.array(NN.sigmoid(NN.output), dtype='float32'))
y_predict.head()

          0
0  0.629139
1  0.900956
2  0.897922
3  0.622390
4  0.898755

In [49]:
out_values.index=range(len(out_values.index))
relu_pred_and_out=DataFrame(np.array([NN.ReLu(value) for index , value in enumerate(
                                        y_predict[0])])).join(out_values)
y_predict.columns=['ff']
df_info=y_predict.join(relu_pred_and_out)
df_info.columns=['prediction', 'relu', 'real']

In [50]:
df_info.head(20)

    prediction      relu      real
0     0.629139  0.629139  0.415341
1     0.900956  1.000000  1.000000
2     0.897922  1.000000  1.000000
3     0.622390  0.622390  0.458871
4     0.898755  1.000000  1.000000
5     0.901992  1.000000  1.000000
6     0.898406  1.000000  1.000000
7     0.896864  1.000000  1.000000
8     0.902071  1.000000  1.000000
9     0.898240  1.000000  1.000000
10    0.646724  0.646724  0.535444
11    0.897626  1.000000  1.000000
12    0.658520  0.658520  0.526677
13    0.904379  1.000000  1.000000
14    0.718873  0.718873  0.624580
15    0.901059  1.000000  1.000000
16    0.608103  0.608103  0.507725
17    0.623379  0.623379  0.327308
18    0.899236  1.000000  1.000000
19    0.899189  1.000000  1.000000

In [51]:
in_values=x_test
out_values=y_test

In [52]:
x_test

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
162,0.759530,0.582725,1.000000,0.907047,0.761810,0.789957,0.138314,0.190229,0.938971,1.000000,0.732709,0.789229,0.028309,1.429326,2.341472
333,0.892977,0.188681,0.355021,0.268776,0.148889,0.846456,0.255133,0.621443,0.561909,0.561224,0.723910,0.035399,0.733984,0.463680,0.322188
399,0.414890,0.471617,0.202874,0.782041,0.058855,0.408648,0.658426,0.603092,0.070512,0.774421,0.857943,0.054716,0.835232,0.008018,0.508294
117,0.755527,0.532679,0.946401,0.829682,0.730968,0.735629,0.165237,0.125384,1.000000,0.967014,0.657632,0.816449,-0.046769,1.429490,2.299936
80,0.715480,0.534907,1.000000,0.928131,0.763449,0.858874,0.137810,0.091413,0.970314,1.000000,0.702878,0.864221,0.063864,1.450141,2.367194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,0.703320,0.623351,0.999763,0.868654,0.689768,0.811092,0.127824,0.112060,1.000000,1.000000,0.757331,0.796283,0.051045,1.404299,2.310645
298,0.690759,0.597710,1.000000,0.877467,0.714517,0.792013,0.138961,0.142165,1.000000,0.949135,0.632503,0.804668,-0.003749,1.455672,2.326707
41,0.680812,0.573413,1.000000,0.920547,0.734660,0.767655,0.248126,0.104087,0.989487,0.986846,0.758031,0.853121,-0.022057,1.446655,2.330324
309,0.044329,0.985213,0.969100,0.542590,0.700373,0.233311,0.480109,0.693156,0.687261,0.184268,0.121529,0.774562,0.608294,0.409875,0.948841
256,0.737306,0.668169,0.946126,0.837574,0.725243,0.736845,0.204311,0.104582,0.994876,1.000000,0.673608,0.803467,-0.035744,1.432297,2.278646

In [53]:
my_desition=DataFrame(NN.step_all(in_values=in_values))
real_desition=out_values

In [54]:
my_desition.columns=['y_predict']
my_desition

    y_predict
0    0.900313
1    0.645559
2    0.626591
3    0.903028
4    0.900941
..        ...
76   0.900987
77   0.902339
78   0.902327
79   0.763128
80   0.900815

[81 rows x 1 columns]

In [55]:
real_desition.index=range(len(real_desition.index))

In [56]:
my_desition.join(real_desition)

    y_predict         y
0    0.900313  1.000000
1    0.645559  0.423793
2    0.626591  0.416146
3    0.903028  1.000000
4    0.900941  1.000000
..        ...       ...
76   0.900987  1.000000
77   0.902339  1.000000
78   0.902327  1.000000
79   0.763128  0.669808
80   0.900815  1.000000

[81 rows x 2 columns]

In [57]:
_weights_=NN._weights_

In [58]:
__weights__=DataFrame(NN.__weights__)

In [59]:
___weights___=DataFrame(NN.___weights___)

In [ ]:
_weights_.to_csv('weights/_weights_.csv')
__weights__.to_csv('weights/__weights__.csv')
___weights___.to_csv('weights/___weights___.csv')